@charset "utf-8";


* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-shadow: none;
    box-sizing: border-box;
    vertical-align: baseline;
    -webkit-transition-duration: 0;
    transition-duration: 0;
}

.banner{
    width: 100%;
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1595113316349-9fa4eb24f884?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2072);
    background-size: cover;
    position: relative;
    z-index: 1;
}

.cover {
    width: 100%;
    height: 100%;
    background-color: rgb(44, 44, 44);
    opacity: .65;
    position: absolute;
    z-index: 5555;
}

.container {
    position: relative;
    height: 100%;
    max-width: 100%;
    margin-left: 150px;
}

header {
    min-width: 100%;
    height: 60px;
    z-index: 9999;
}

header h1 {
    padding-top: 10px;
    font-weight: 500;
    color: rgb(0, 0, 0);
}


nav {
    margin-right: 230px;
    padding-left: 30px;
    text-align: right;
    float: right;
    height: 0;
}

nav ul{
    list-style: none;
    font-size: 0;
}

nav ul li{ 
    display: inline;
    line-height: 56px;
    cursor: default;

}

nav ul li a{
    font-size:  20px;
    font-weight: 500;
    padding: 10px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    letter-spacing: .2px;
    text-transform: none;
    cursor: pointer;
}

nav ul li a :hover{
    text-decoration: underline;
}

nav ul li + li{
    margin-left: 35px;

}

header h1 a{
    padding-top: 10px;
    font-weight: 500;
    color: #fff;
    color: #fff;
    text-decoration: none;
}

/* footer */

footer{
    min-width: 100%;
    background: navy;
    overflow: hidden;

}
footer div{
    display: flex;
    justify-content: space-between;
}
.FooterNav i:first-child{
    margin-left: 10px;
}
.FooterNav title p{
    margin-right: 10px;
}
.FooterNav{
    text-align: right;
    height: 70px;
    margin-right: 60px;
}
.FooterNav ul{
    list-style: none;
    font-size: 0px;
}
.FooterNav ul li{
    display: inline;
    line-height: 70px;
    cursor: default;
}
.FooterNav ul li a{
    font-size: 17px;
    color: black;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: .2px;
    cursor: pointer;
}

.FooterNav ul li +li{
    margin-left: 25px;
}
