@import "base.css";


/* body */
#map {
    width: 100%;
    height: 100%;
    background-color: aqua;
}



#outer p {
    font-size: 35px;
    margin-bottom: 25px;
    font-weight: 700;
}

#map {
    width: 84%;
    height: 80%;
    box-shadow: 5px 5px 15px -6px #888888;
}

#dot {
    width: 20px;
    height: 20px;
    border-radius: 64px;
    background-color: #69BC62;
    position: absolute;
}

#dot:after {
    content: '';
    position: relative;
    display: block;
    width: 300%;
    height: 300%;
    box-sizing: border-box;
    margin-left: -100%;
    margin-top: -100%;
    border-radius: 45px;
    background-color: #01a4e9;
    animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}

#hb {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('treesus.jpg');
    width: 100%;
    height: 90vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#hb h2 {
    color: white;
    font-size: 42px;
    margin-bottom: 15px;
}

#hb p {
    color: white;
}

@keyframes pulse-ring {
    0% {
        transform: scale(.33);
    }
    80%,
    100% {
        opacity: 0;
    }
}